<form action="/login" method="post">
    Username:<input type="text" name="username"><br>
    Name:<input type="text" name="name"><br>
    Password:<input type="password" name="password"><br>
    prePassword:<input type="password" name="prePassword"><br>
    <input type="submit" value="login">
</form>